@font-face {
  font-family: norse;
  src: url(fonts/Norse-Bold.otf);
}

main {
  display: flex;
  font-family: "Inter", sans-serif;
}

#main-left {
  background-image: url("images/background.jpg");
  height: 100vh;
  width: 60%;
  display: inline-block;
  background-size: cover;
}

#main-right {
  display: flex;
  flex-direction: column;

  background-color: #f9fafb;
  padding-top: 100px;
}

.ptext {
  font-weight: 600;
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
}

#legend {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: -25px;
}

form {
  padding-left: 50px;
  padding-right: 50px;
}

#main-form {
  background-color: #fff;
  padding-top: 20px;
  box-shadow: 0 3px 10px #e4e5e6;
}

legend {
  width: 600px;
  margin-bottom: -25px;
}

.label {
  font-size: 12px;
  font-weight: 600;
  color: #575e69;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 600px;
  gap: 50px;
  padding-left: 50px;
  padding-bottom: 30px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 250px;
  flex-wrap: wrap;
}

input {
  border-radius: 4px;
  border: #b4b8c0 solid 1px;
  height: 30px;
  margin-top: 3px;
  background-color: #e5e7eb;
}

input:focus {
  box-shadow: 0 3px 10px #e4e5e6;
  outline: 1px solid #6486e4;
}

input:valid {
  outline: 1px solid #596d48;
  background-color: #74eb4566;
}

input:focus:invalid {
  outline: 1px solid #cf4d4d;
  background-color: #e23f3f66;
}

button {
  margin-left: 50px;
  margin-top: 40px;
  background-color: #596d48;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
}

#finalp {
  margin-left: 50px;
  margin-top: 25px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #596d48;
}

a:visited {
  color: #596d48;
}

#logo {
  background-color: #00000088;
  padding: auto 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

#logotext {
  font-family: Norse;
  color: white;
  font-size: 100px;
}

#logoimage {
  width: 100px;
}
